<style>

#main-footer{
    background: #262F36;
    color: white;
    padding: 6rem 0;
    font-size: 0.8rem;
}

#main-footer, h6{
    color: #718FA9;
}

#main-footer, a{
    color: #6c6f73;
}

.section-content{
    padding: 5rem;
    color: black;
}
</style>


<!-- ======================= -->
<!-- Footer Section          -->
<!-- ======================= --> 

<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
              &copy; 2017 John Banks Web Samples.    
            </div>
            <div class="col-md-2">
               <h6>Web Pages</h6>
                <ul class="list-unstyled">
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="https://github.com/jrbanks">Github</a></li>
                    <li><a href="https://codepen.io/jaybanks/">Codepen</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>Social Media</h6>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/john.banks.967">Facebook</a></li>
                    <li><a href="https://www.instagram.com/jaylovescandy/">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/john-banks-236396134/">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

 
 
   
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>