<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!--css -->

<style>
  .content{
    
   text-align: center;
  }

.social{
  Padding: 30px;
  
}

.content{
  font-family: 'Roboto', sans-serif;
}

.sample ul{
    float: left;
    background-color: black;
    color: white;
    width: 200px;
    height: 600px;
    font-size: 20px;
    list-style-type: none;
  }

</style>

<!-- jumbotron -->
<div class="jumbotron">
  <div class="container">
      <h1>Contact</h1>
  <p>Front End Web Developer</p>
  </div>
</div>



    


<!-- content -->


  <div class="content">
    <h2> Email: jbanks1120@gmail.com</h2>
    
    
    <div class="social">
      <h3>Social Media</h3>
      <a href="https://www.facebook.com/john.banks.967?ref=bookmarks">Facebook</a>
      <a href="https://www.instagram.com/jaylovescandy/?hl=en">Instagram</a>
      <a href="https://www.linkedin.com/in/john-banks-236396134/">Linkedin</a>
    </div>
    
    
    
    
    
    
    
    <% include partials/footer %>
  </div>
