<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!--css -->

<style>
 
 .picture{
   
 max-width: 100%;
    height: auto; 
  text-align: center;
 } 
 
 .content{
  font-family: 'Roboto', sans-serif;
 }
 
 .about{
  padding-bottom: 20px;
  font-size: 50px;
 }
 
 .sample ul{
    float: left;
    background-color: black;
    color: white;
    width: 200px;
    height: 600px;
    font-size: 20px;
    list-style-type: none;
  }
  
</style>

<!-- jumbotron -->
<div class="jumbotron">
  <div class="container">
      <h1>Welcome!</h1>
  <p>Front End Web Developer</p>
  </div>
</div>



<!-- pic goes here -->
<div class="container">



<div class="picture">
 
<img class="profilepic" src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-19/s150x150/14676732_1757012687885835_3719243293796597760_a.jpg" alt="profilepic">
<h2 class="about">About Me</h2>
</div>

<!-- content --> 


<div class="content">
<h2> Hi, My name is John Banks and im currently a senior attending CSUEB studying kinesiology. Im origionally from Barstow, CA and currently live in San Jose, CA. Im a self taught front end web developer learning for the past year. What I like to do in my free time are playing videogames, watching and playing sports (favorite is basketball). </h2>   
<!-- <h3> hey guys, just testing it the site works on phones for right now and checking if all the links work and go the the right pages. let me know if something doesnt look right, and let me know of a project to make to add to the site if any of you can thing of anything.</h3>-->
</div>









<% include partials/footer %>
</div>