<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!--css -->

<style>
   .sample ul{
    float: left;
    background-color: black;
    color: white;
    width: 200px;
    height: 600px;
    font-size: 20px;
    list-style-type: none;
  }
  
  .img{
    max-width: 350px;
    padding: 10px 10px;
    
  }
  
  .pictext{
    font-size: 15px;
    font-weight: bold;
    
  }
  
  h5{
    text-align: center;
  }
  
</style>


<!-- jumbotron -->
<div class="jumbotron">
  <div class="container">
      <h1>Portfolio</h1>
  <p>Front End Web Developer</p>
  </div>
</div>



<!-- content --> 
<div class="container">




<div class = "row">
  <div class = "col-lg-4 col-sm-6">
    <div = "thumbnail">
    <img class= "img" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20248382_1536510736371290_539165995463669937_o.jpg?oh=71ceb9707d904b2696821d722a17f1a2&oe=5A00F709" alt="guessinggame"> 
    <h5 class ="pictext">Annoy-O-Matic Exercse</h5>
    <h5>This exercise uses a while loop to ask a question and the question will repeat until the correct answer is entered. (HTML, CSS, and JavaScript)</h5></img>
    <a href="https://github.com/jrbanks/AnnoyoMatic-Exercise">Annoy-O-Matic Github Page</a>
    </div>
  </div>
  <div class = "col-lg-4 col-sm-6">
    <div = "thumbnail">
    <img class = "img" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20232284_1536510673037963_7395309610333705352_o.jpg?oh=b7d3201e8bdb04bbd521d66e371c85ed&oe=59F0B6C3"
    >
    <h5 class ="pictext">Color Toggle</h5> 
    <h5>Simple exercise where when the button is clicked on the screen the background will toggle between 2 different colors. (HTML, CSS, and JavaScript)</h5></img>
    <a href="https://github.com/jrbanks/color-toggle">Color Toggle Github Page</a>
    </div>
  </div>
  <div class = "col-lg-4 col-sm-6">
    <div = "thumbnail">
     <img class = "img" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20232893_1536510739704623_5522886149999390819_o.jpg?oh=c144263951b83d13fd836a076b9306d3&oe=5A0E2966">
     <h5 class ="pictext">Guessing Game Exercise</h5>
     <h5>Guessing Game app that uses boolean logic and conditionals to guess and figure out the correct number. (HTML, CSS, and JavaScript)</h5></img>
     <a href="https://github.com/jrbanks/guessing-game">Guessing Game Github Page</a>
    </div>
  </div>
  <div class = "col-lg-4 col-sm-6">
    <div = "thumbnail">
     <img class = "img" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/19983682_1536510683037962_6768379715077430818_o.jpg?oh=d5879fa76d99b1a3363d70819f388dae&oe=59FC2324">
     <h5 class ="pictext">Movie Database</h5>
     <h5>Using an array with objects inside, this app will loop through and list the movies title, raiting, stars, and uses a boolean to see if the movie has been see or not.  (HTML, CSS, and JavaScript)</h5></img>
     <a href="https://github.com/jrbanks/movie-database">Movie Database Github Page</a>
    </div>
  </div>
  <div class = "col-lg-4 col-sm-6">
    <div = "thumbnail">
     <img class = "img" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20280263_1536510676371296_2994157456529954438_o.jpg?oh=05560c94ffaad9bb63f430c13584c9b3&oe=5A0B7DF2">
     <h5 class ="pictext">Score Keeper</h5>
     <h5>This ap keeps score between 2 players. scores increase when the player buttons are clicked. (HTML, CSS, and JavaScript)</h5></img>
     <a href="https://github.com/jrbanks/score-keeper">core Keeper Github Page</a>
    </div>
  </div>
  <div class = "col-lg-4 col-sm-6">
    <div = "thumbnail">
     <img class = "img" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20248353_1536510773037953_5662918171585393909_o.jpg?oh=6288344edbacd8ebece19cb20edc6f16&oe=59EEEA87">
     <h5 class ="pictext">To Do list</h5>
     <h5>To Do List app built using jQuery that allows you to add, delete items from a list. (HTML, CSS, JavaScript, and jQuery)</h5></img>
     <a href="https://github.com/jrbanks/to-do-list">To Do List Github Page</a>
    </div>
  </div>
</div>



<% include partials/footer %>
</div>