<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!--css -->

<style>
 img{
    max-width: 100%;
    
}

.section-content{
    padding: 5rem;
    color: black;
}
  
</style>


<!-- jumbotron -->
<div class="jumbotron">
  <div class="container">
      <h1>Portfolio</h1>
 
  </div>
</div>

<!-- ======================= -->
<!-- catagories section      -->
<!-- ======================= -->

<section id="catagories">
    <div class="section-content">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-group">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Yelp Camp</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/21728676_1583719624983734_4366046782320912146_o.jpg?oh=68a702f4d02cfd1a2afdf612ba8c121b&oe=5A5B697D" alt="a chalkboard">
                        <div class="card-block">
                            <p class="card-text">Udemy final project (full MEAN stack site). Campsite app that adds users and allows them to creates their own campsite pages and leave comments.</p>
                            <a href="https://github.com/jrbanks/yelpcampproject-udemy-" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Bootstrap 4 site</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/21686753_1589806577708372_3792940750397596708_o.jpg?oh=2f80830d20bc5c671da6e805ef023c6f&oe=5A4EDDF0" alt="working">
                        <div class="card-block">
                            <p class="card-text">Sample  personal webpage templet made with Bootstrap 4.</p>
                            <a href="https://github.com/jrbanks/bootstraptempsite1" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Bootstrap 4 startup site</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/21687192_1589806581041705_5019615191559260165_o.jpg?oh=a09e4d273f4b0c1adf19ba94bfb857e8&oe=5A3DB2D8" alt="bootstrap template pic">
                        <div class="card-block">
                            <p class="card-text">Sample single page startup webpage templet made with Bootstrap 4.</p>
                            <a href="https://github.com/jrbanks/bootstrapsite3" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
                <div class="row">
            <div class="col-sm-12">
                <div class="card-group">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Bootstrap 4 Template 2</h4>
                        </div>
                        <img src="https://scontent.fsnc1-2.fna.fbcdn.net/v/t31.0-8/21686979_1589806541041709_263362096204639035_o.jpg?oh=8523a491b6faf5ddb2e15b6040b5bec7&oe=5A5AF3B6" alt="bootstrap template 2 pic">
                        <div class="card-block">
                            <p class="card-text">Another sample single page webpage template made with bootstrap 4.</p>
                            <a href="https://github.com/jrbanks/bootstrapsite2" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">To Do List</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20248353_1536510773037953_5662918171585393909_o.jpg?oh=bf13dcbf03b6cdbe8a21815efbd75f66&oe=5A659187" alt="to do list pic">
                        <div class="card-block">
                            <p class="card-text">A to do list app made with jQuery</p>
                            <a href="https://github.com/jrbanks/to-do-list" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">To Do List</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/23275673_1633897416632621_6693212539239244533_o.jpg?oh=ebb825a6a2cca698888cd195532e3374&oe=5AA25CB9" alt="to do list pic">
                        <div class="card-block">
                            <p class="card-text">A simple to do list app made with Angular</p>
                            <a href="https://github.com/jrbanks/firstangularapp" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
   
    


<% include partials/footer %>
