<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!--css -->

<style>
 img{
    max-width: 100%;
    
}

.section-content{
    padding: 5rem;
    color: black;
}
  
</style>


<!-- jumbotron -->
<div class="jumbotron">
  <div class="container">
      <h1>Portfolio</h1>
  <p>Full Stack Web Developer</p>
  </div>
</div>

<!-- ======================= -->
<!-- catagories section      -->
<!-- ======================= -->

<section id="catagories">
    <div class="section-content">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-group">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Yelp Camp</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/21728676_1583719624983734_4366046782320912146_o.jpg?oh=68a702f4d02cfd1a2afdf612ba8c121b&oe=5A5B697D" alt="a chalkboard">
                        <div class="card-block">
                            <p class="card-text">Udemy front and backend project of a yelp-type campsite website with a database, and authentication.
                            (HTML, CSS, JavaScript, mongoose, passport, express)</p>
                            <a href="https://github.com/jrbanks/yelpcampproject-udemy-" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Bootstrap 4 site</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/21686753_1589806577708372_3792940750397596708_o.jpg?oh=2f80830d20bc5c671da6e805ef023c6f&oe=5A4EDDF0" alt="working">
                        <div class="card-block">
                            <p class="card-text">Sample  personal webpage templet made with Bootstrap 4.</p>
                            <a href="https://github.com/jrbanks/bootstraptempsite1" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Bootstrap 4 startup site</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/21687192_1589806581041705_5019615191559260165_o.jpg?oh=a09e4d273f4b0c1adf19ba94bfb857e8&oe=5A3DB2D8" alt="working">
                        <div class="card-block">
                            <p class="card-text">Sample startup webpage templet made with Bootstrap 4.</p>
                            <a href="https://github.com/jrbanks/bootstrapsite3" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
                <div class="row">
            <div class="col-sm-12">
                <div class="card-group">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Bootstrap 4 Template 2</h4>
                        </div>
                        <img src="https://scontent.fsnc1-2.fna.fbcdn.net/v/t31.0-8/21686979_1589806541041709_263362096204639035_o.jpg?oh=8523a491b6faf5ddb2e15b6040b5bec7&oe=5A5AF3B6" alt="a chalkboard">
                        <div class="card-block">
                            <p class="card-text">Another sample webpage template made with bootstrap 4.</p>
                            <a href="https://github.com/jrbanks/bootstrapsite2" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">To Do List</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20248353_1536510773037953_5662918171585393909_o.jpg?oh=6288344edbacd8ebece19cb20edc6f16&oe=59EEEA87" alt="working">
                        <div class="card-block">
                            <p class="card-text">Sample  personal webpage templet made with Bootstrap 4.</p>
                            <a href="https://github.com/jrbanks/to-do-list" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Score Keeper</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20280263_1536510676371296_2994157456529954438_o.jpg?oh=05560c94ffaad9bb63f430c13584c9b3&oe=5A0B7DF2" alt="working">
                        <div class="card-block">
                            <p class="card-text">This ap keeps score between 2 players. scores increase when the player buttons are clicked. (HTML, CSS, and JavaScript)</p>
                            <a href="https://github.com/jrbanks/score-keeper" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
                <div class="row">
            <div class="col-sm-12">
                <div class="card-group">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Movie Database</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/19983682_1536510683037962_6768379715077430818_o.jpg?oh=d5879fa76d99b1a3363d70819f388dae&oe=59FC2324" alt="a chalkboard">
                        <div class="card-block">
                            <p class="card-text">Using an array with objects inside, this app will loop through and list the movies title, raiting, stars, and uses a boolean to see if the movie has been see or not.
                            (HTML, CSS, and JavaScript)</p>
                            <a href="https://github.com/jrbanks/movie-database" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Guessing Game Exercise</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20232893_1536510739704623_5522886149999390819_o.jpg?oh=c144263951b83d13fd836a076b9306d3&oe=5A0E2966" alt="working">
                        <div class="card-block">
                            <p class="card-text">Guessing Game app that uses boolean logic and conditionals to guess and figure out the correct number.
                            (HTML, CSS, and JavaScript).</p>
                            <a href="https://github.com/jrbanks/guessing-game" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Color Toggle</h4>
                        </div>
                        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/20232284_1536510673037963_7395309610333705352_o.jpg?oh=b7d3201e8bdb04bbd521d66e371c85ed&oe=59F0B6C3" alt="working">
                        <div class="card-block">
                            <p class="card-text">Simple exercise where when the button is clicked on the screen the background will toggle between 2 different colors.
                            (HTML, CSS, and JavaScript)</p>
                            <a href="https://github.com/jrbanks/color-toggle" class="btn btn-outline-info">View Github Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
   
    


<% include partials/footer %>
