<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!--css -->

<style>
    
    ul li{
  
  font-size: 20px;
}
    
    h2{
       font-weight: bold; 
    }
    
    h3{
       font-weight: bold; 
    }
    
    hr{
         
  display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
    color: blue;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.sample ul{
    float: left;
    background-color: black;
    color: white;
    width: 200px;
    height: 600px;
    font-size: 20px;
    list-style-type: none;
  }
    
</style>
<!-- jumbotron -->
<div class="jumbotron">
  <div class="container">
      <h1>Resume</h1>
  <p>Full Stack Web Developer</p>
  </div>
</div>


<!-- content --> 
<div class="container">


<h2>Experience</h2>

<h3>DoorDash/Grubhub | San Jose, CA</h3>
 <p>Freelance Delivery Driver, January 2015 to Current</p>

<ul>
    <li>Deliver food from Restaurants to customer’s home / work etc.</li>
</ul>

<hr>


<h3>Bank of America | Santa Clara, CA</h3>
  <p> Teller, January 2013 to September 2013 </p>
  <ul>
      <li>Responsible for the processing of transactions accurately and efficiently in a fast paced environment.</li>
      <li>Identifying customer needs and referring financial products and services</li>
      <li>Building customer loyalty</li>
      <li>Establishing customer relationships through courtesy and friendliness, 
Including addressing each customer by name.</li>
  </ul>  
    
 <hr>                                                                                                                                                     

<h3>Utiliquest | San Jose, CA</h3>	
<p>Damage Prevention Technician, January 2012 to January 2013</p>

<ul>
    <li>Performs work that involves visual inspection of predefined construction areas and reading and interpretation of utility maps to determine the presence of underground utilities, while using special electronic equipment to actually detect and locate said utilities. </li>
    <li>Use lap top computer or other devices to receive, document and close out excavation notices, both during normal hours and after hours.</li>
    <li>Read and interpret utility maps / prints to identify the type and size of underground utilities. </li>
    <li>Operate different electronic detection equipment, to locate and mark under-ground facilities within prescribed accuracy limit </li>
    <li>Be able to perform manhole entry using assigned equipment and safety devices.</li>
</ul>


<hr>

<h3>Izod | Milpitas, CA</h3>	
<p>Assistant Manager 01/2008 to 06/2011</p>

<ul>
    <li>Operated a cash register for cash, check and credit card transactions.</li>
    <li>Stocked and replenished merchandise according to store merchandising layouts.</li>
    <li>Cleaned and organized the store, including the checkout desk and displays.</li>
    <li>Completed all point of sale opening and closing procedures, including counting the contents of the cash register.</li>
    <li>Shared best practices for sales and customer service with other team members to help improve the store's efficiency.</li>
    <li>Mentored new sales associates to contribute to the store's positive culture.</li>
    <li>Maintained established merchandising standards, including window, sales floor and promotional displays.</li>
</ul>

 
<hr>

<h2>Skills</h2>

<ul>
    <li>Technical: HTML, CSS,Bootstrap, Javascript, jQuery, Node.js (express), passport, mongoose, MongoDB </li>
    <li>Tools: Word, Excel, WordPress, cloud 9 IDE, Heroku, Github </li>
    <li>Other Skills: POS systems knowledge, Stocking, Merchandising, Shipment processing</li>
    <li>Certified: CPR, AED, Epi Pen</li>
</ul>


<hr>

<h2>School</h2>
Barstow Community College | June 2007

<ul>
    <li>Associate of Arts in Humanities</li>
    <li>Computer club</li>
</ul>


California State University East Bay | Current

<ul>
    <li>Major: Kinesiology</li>
</ul>



</div>
<% include partials/footer %>
